*{
    margin: 0%;
    font-family: 'poppins', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}
.header{
    background: #fff8f3;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

section{
    margin-top: 130px;
}

/* header and navigatiion styles */
nav{
    display: flex;
    justify-content: space-between; 
    margin: 50px 200px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.men-name{
    font-size: 85px;
    font-weight: 700;
}
.men-sub{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.men-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about-me{

    margin-top: 130px;
    border-radius: 10px;
    background: #fff8f3;
    padding: 130px 150px;
}
.section-tittle{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
/* info section */
.about-info-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.about-info-tittle{
    font-size: 20px;
    color: #757575;
}
.about-info-des{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* what i do styles */
wh-info{
    font-weight: 400;
    font-size: 18px;
    width: 909px;
    height: 90px;
    margin: 0 346px;
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 24px;

}
.skill{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;    
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    padding: 30px;
}
.skill-tittle{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    /* width: 201px;
    height: 196px; */
    line-height: 28px;
}

/* resume styles */
.resume-content{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.resume-tittle{
}
.resume-item{
    margin-bottom: 30px;
    margin-top: 30px;
}
.tittle{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-tittle{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.description{
 color: #757575;
}
.resume-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.d{
    text-align: center;
}

/* contact area */
.contact{
    display: flex;
    gap: 117px;
    padding: 130px 200px;
}
.contact .section-tittle{
    text-align: left;
}
.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    /* padding-left: 30px; */
    padding: 18px 30px;
}
input{
    height: 64px;
}